.one{ 
  
   
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://www.designyourway.net/blog/wp-content/uploads/2016/07/Dreams.jpg");
width:100%;
height:1000px;
background-position: center; 
background-repeat: no-repeat;
}
li{
margin: 35px;
text-decoration:null ; 

}  
a{
  text-decoration: null;
}
p,li{ 
    display:inline ;
}  

p{ 
   font-size: 35px; 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:16px ;
} 
p,li{ 
  color: yellowgreen;
  display: inline-block; 

} 
.won{
width:60% ;
padding-right:0% ; 
padding-left:25%; 
padding-top: 0px; 
border-top: 0px; 
padding-bottom:2250px ;   
}  
 a:hover{
background-color: yellowgreen;
color: red;
}
 

 
.seven{ 
  padding-top: 5px;
width:70% ;
height: 450px;}
h3::first-letter{
  color: tomato; 
  font-size: 35px;
} 
ul li a{
  text-decoration: null; 
  color: white; 
  list-style-type: none;
}
ul,li,a{
  display: inline; 

} 
.two{
  border-radius: 150px;
} 
.tree{
  border-radius: 100px;
}